<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402658048527-b6sn1bem55qqh9m7p0acvi36f7aqnk6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402658048527-b6sn1bem55qqh9m7p0acvi36f7aqnk6d</string>
	<key>API_KEY</key>
	<string>AIzaSyAw36fcHo_QA6J08DsWwg-DhaM0AEm-_5k</string>
	<key>GCM_SENDER_ID</key>
	<string>402658048527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.laurentazarnouche.masq</string>
	<key>PROJECT_ID</key>
	<string>masq-8445b</string>
	<key>STORAGE_BUCKET</key>
	<string>masq-8445b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402658048527:ios:b68be7ce12e4aab5bb417a</string>
	<key>DATABASE_URL</key>
	<string>https://masq-8445b.firebaseio.com</string>
</dict>
</plist>